
#content{
    width: 100%;
    height: calc(100vh - 154px);
    /* background: linear-gradient( top,#fefefe,#d0fdfa); */
    background: -webkit-linear-gradient(#fbfffe, #d0fdfa);
    text-align: center;
}
#content li{
    display: none;
    padding-top: 20px;
}
#content .index.active{
    display: block;
    
    /* padding-left: 59px; */
}
#content .contOne{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;  
}
#content li .box{
    border: 1px solid rgb(0, 225, 255);
    margin-right: 150px;
    width: 163px;
    height: 63px;
    border-radius: 5px;   
}
#content li .box p{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-left: 7px;
    margin: 0;
}
#content li .box b{
    color: rgb(0, 225, 255);
    font-weight: normal;
    line-height: 36px;
}
#contTwo{
    width: 100%;
    height: 400px;
}
.contThree{
    width: 80%;
    /* padding-left: 10%; */
    /* padding-left: 7%; */
    margin: 0 auto;
    display: flex;
    height: 250px;
}
.contThree p{
    text-align: left;
    /* padding-left: 10%; */
}
/* .contThree select{
    display: block;
    margin-left: 10%;
    padding: 0 10px;
    margin-top: 50px;
    background-color: rgb(154, 255, 247);
    border-radius: 5px;
    height: 30px;
} */
.contThree-right{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#geography,#user,#assets,#loadRate{
    width: 25%;
    height: 100%;
}
#geography{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
#geography .geo{
    border: 1px solid rgb(0, 225, 255);
    width: 50%;
    height: 70px;
    margin: 0 auto;
    border-radius: 5px;    
}
#geography .geo p{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-left: 7px;
    margin: 0;
}
#geography .geo b{
    color: rgb(0, 225, 255);
    font-weight: normal;
    line-height: 36px;
    font-size: 16px;
}
.select {
    display: inline-block;
    width: 100px;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;	
    transition: box-shadow 0.25s ease;
    z-index: 2;
}

.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;
}

