html,body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient( top,#fefefe,#d0fdfa); */
    background: -webkit-linear-gradient(#fcfffe, #cefdfa);
    text-align: center;
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 500px;
    height: 460px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    /* border: 1px solid #ff1500; */
    margin-left: -50px;
    box-shadow: 3px 3px 15px 10px #e0e0e0;
}
.title{
    font-size: 26px;
    font-weight: bold;
    padding: 30px 0;
}
.username,.password{
    padding: 10px 0;
}
.username span,.password span{
    display: block;
    height: 20px;
    color: red;
    font-size: 14px;
}
.password{
    padding-bottom: 30px;
}
input{
    border: 1px solid #ccc; 
    padding: 7px 0px;
    border-radius: 3px; /*css3属性IE不支持*/
    padding-left:5px; 
}
.btn button{
    width: 60%; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
    font-size: 17px; /* 字体大小 */
}
button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}