/* reset css */
html,body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
[v-cloak] {
    display: none !important; 
} 
/* reset css */